<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>SQL Executor</title>
</head>
<body>
		<h1>SQL Query Executor</h1>
		<div id="react-app"></div>

		<script src="/static/js/bundle.js"></script> <!-- Path to your built React app -->
</body>
</html>
